<!DOCTYPE html>
<html lang="en">

{% include "header.njk" %}

<body>

  <div class="container">

    <h1>Welcome to UGAHacks 7!</h1>
    
    <img src="/assets/laptopbyte.svg" alt="Byte" width="100" height="100"> 

    {{ content | safe }}

  </div>

</body>

</html>